APP_NAME="Vending Machine"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=vone_vm
DB_USERNAME=vone_user
DB_PASSWORD=password

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

APP_DEFAULT_USERNAME="admin@localhost.com"
APP_DEFAULT_PASSWORD="@dmin123"

# For Docker configuration
######################################
WORKDIR="/var/www/html"
ADMIN_APP_PORT=8000
VITE_PORT=5163

MYSQL_VERSION=8.0
DB_ROOT_PASSWORD=@dmin123
DB_VOLUME_LOCAL=./database/mysql-database/
DB_VOLUME_TEST=./database/mysql-database-test/
FORWARD_DB_PORT=33066

### PHP MY ADMIN ###################################
# Accepted values: mysql
PMA_DB_ENGINE=mysql
PMA_USER="${DB_USERNAME}"
PMA_PASSWORD="${DB_PASSWORD}"
PMA_ROOT_PASSWORD="${DB_ROOT_PASSWORD}"
PMA_PORT=8081
PMA_MAX_EXECUTION_TIME=600
PMA_MEMORY_LIMIT=256M
PMA_UPLOAD_LIMIT=2G

### REDIS & REDIS INSIGHT ##########################
REDIS_VERSION=7.4.2
FORWARD_REDIS_PORT=6369
REDIS_VOLUME_LOCAL=./database/redis-database/
FORWARD_REDIS_INSIGHT_PORT=5540
